*{font-family: Arial, Helvetica, sans-serif;}
body {
    padding: 0;
    margin: 0;
}

header {
    height: auto;
    padding: 20px;
    
}
.menu-top{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end ;
}

.menu-top li {
    display: inline-block;
    list-style: none;
}

.menu-top a {
    display: block;
    text-decoration: none;
    padding-left: 5px;
    color: #3c4043;
}

.menu-top a:hover {
    text-decoration: underline;
    
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    background-image: url(../images/googlelogo_color_272x92dp.png);
    height: 92px;
    width: 272px;
}

.textbox {
    margin-top: 30px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #aaa;
    border-radius: 20px;
    padding: 10px;
    width: 500px;
}

.textbox input{
    width: 400px ;
    border: none;
}

.botoes {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
   
}
.botoes ul {
    margin: 0;
    padding: 0;
}
.botoes li {
    display: inline-block;
    list-style: none;
    margin-right: 5px;
}

.botoes a {
    display: block;
    padding: 10px;
    color: #3c4043;
    text-decoration: none;
    background-color: #f8f9fa;
}

.lingua {
    margin-top: 30px;
    font-size: 14px;
}

footer{
    position: fixed;
    bottom: 0; 
    right: 0;
    left: 0;
    background-color: #f8f9fa;
    
    color: #70757a ;
}

.ftpais {
    border-bottom: 1px solid #70757a;
}

.ftinfo{ 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.ftinfo1, 
.ftinfo2 {
    display: flex;
    flex-direction: row;

}

footer a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #70757a;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width:520px) {
    .textbox {
        width: 280px;
    }
    .textbox input {
        width: 180px;
    }
    footer {
        font-size: 12px;
    }
}